#root {
  width: 100rem;
  margin: 0 auto;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.nav {
  background-color: #162a40;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo {
  height: 3em;
  padding: 1.5em;
}

.menu {
  height: 1rem;
  padding: 1.5em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text {
  background-color: #162a40;
  padding: 4rem;
  color: white;
}

.title {
  text-align: left;
  padding-left: 1rem;
}

.ph {
  text-align: left;
  padding-left: 1rem;
}

.btn {
  float: left;
}

.icons {
  display: flex;
}